# prod
dist/
/build
/out/

# dev
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf
.idea/

# deps
node_modules/
/node_modules
generated
package-lock.json

# env
.env*
.env.production
.env.example
.env

# logs
logs/
*.log
npm-debug.log*

# typescript
*.tsbuildinfo
.env
